body{
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.skip{
    color: tomato;
}
.a1{
    color: red;
}
.flx{
    display: flex;
    
    
    
}
.img{
    width: 80%;
    
    padding-left: 180px;
    
}
.div1{
    padding-top: 65px;
    padding-left: 30px;
}
.h1{
    font-size: 50px;
}
.p1{
    font-size: 20px;

}
.or{
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    color: white;
    padding: 10px 15px;
    border-radius: 25px;
}
.tpb{
    background-image: url(images/shapes/Frame\ 56.jpg);
    background-repeat: no-repeat;
    background-position: left;
    padding: 0px;
    
}
.img1{
    
    width: 80%;
    padding-right: 20px;
    padding-left: 10px;
}
.divabme{
    padding: 60px 40px 0 0;
}
.sc2{
    padding: 40px 0px 0px 50px;

}
.ABME{
    font-size: 40px;
}
.ABMP{
    font-size: 18px;
    font-weight: lighter;
    padding-right: 150px;
}
.ASR{
    font-weight: 600;
    color: tomato;
}
.bgig{
    background-image: url(images/shapes/Frame\ 59.jpg);
    background-repeat: no-repeat;
}
.rec{
    text-align: center;
    padding: 0 25% 0 25%;
}
.reciH{
    font-size: 40px;
}
.reciP{
    font-size: 18px;
}
.rc1{
    height: 280px;
    width: 200px;
    padding: 10px 10px;
    border-radius: 15px;
    box-shadow: 3px 5px 20px 3px rgba(209, 201, 201, 0.979);
   
}
.rc2{
    margin: 0 0 0 50px;
    height: 280px;
    width: 200px;
    padding: 10px 10px;
    border-radius: 15px;
    box-shadow: 3px 5px 20px 3px rgba(209, 201, 201, 0.979);
   
}
.ego{
    
    width: 95%;
    padding: 0 0px 0 5px;
}
.eggp{
    font-size: 12px;
}
.sc3{
    padding: 0 20px 50px 50px;
}
.sec4{
    padding: 0 25% 5% 25%;
}
.lik{
    
    text-align: center;
    padding: 30px;
}
.sec5{
    margin: 0 25% 50px 25%;
}
.fdv{
    padding: 0px 20% 5% 20%;
    width: 700px;
    height: 120px;
    border-radius: 15px;
    box-shadow: 3px 5px 20px 3px rgba(209, 201, 201, 0.979);
}
.pc21{
    font-size: 9px;
}
.foot{
    text-align: center;
    color: whitesmoke;
    background-color: rgba(42, 42, 61, 0.932);
    padding: 20px 0 30px 0;
}
.po{
    color: orange;
}